.spadd {
    .dash-header {
        .list {
            .text {
                font-family: 'Work Sans', sans-serif;
                font-size: 24px;
                font-weight: 600;  
                padding-bottom: 12px;
                border-bottom: 2px solid #DFF2FD;
            }
        }
    }
    .exp-pand {
        //expanddesgin-custom
        padding: 20px;
        .mat-expansion-panel-header {
            height: 50px!important;
            border-bottom: 1px solid rgba(0,0,0,.12);
            border-radius: 0;
            .mat-expansion-panel-header-title {
                font-family: 'Work Sans', sans-serif;
                font-weight: 600;
            }
        }
        .form-block {
            padding: 12px;
            display: flex;
            .file {
                position: relative;
                flex-basis: 10%;
                .filetype {
                    opacity: 0;
                    width: 64px;
                    height: 64px;
                    position: absolute;
                    cursor: pointer;
                    z-index: 3;
                    &:hover + .logo .overlay {
                        //background-color: red;
                        // background:black;
                        opacity: 1;
                    }
                    &:hover + .logo mat-icon {
                        //background-color: red;
                        // background:black;
                        z-index: 1;
                        color: #ffffffa3;
                    }
                }
                .overlay {
                    background: rgba(0,0,0,0.7);
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    right: 0;
                    border-radius: 50%;
                    opacity: 0;
                    width: 100%;
                }
                img {
                    width: 64px;
                    height: 64px;
                    border-radius: 50%;
                }
            }
            .logo {
                width: 64px;
                height: 64px;
                position: relative;
                border-radius: 50%;
                background-color: #F0F0F0;
                margin-right: 50px;
                flex-basis: auto;
                mat-icon {
                    color: #c3c4cb;
                }
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
            }
            .forms {
                flex-grow: 1;
                flex-basis: 90%;
                .form-felid {
                    //input-desgin
                    margin-bottom: 16px;
                    input {
                        border: 1px solid #DDDDDD;
                        border-radius: 4px;
                        height: 36px;
                        display: inline-block;
                        width: 100%;
                    }
                    
                    input[placeholder] {
                        font-size: 14px;
                        font-family: 'Lato', sans-serif;
                        padding-left: 20px;
                    }

                    .inner-form {
                        justify-content: space-between;
                        display: flex;
                        margin-top: 16px;
                        .form-felid {
                            display: flex;
                            flex-direction: column;
                        }
    
                    }
                    
                    .ng-invalid.ng-touched {
                        border: 1px solid red;
                    }
                    //label
                    label {
                        font-family: 'Lato', sans-serif;
                        font-size: 14px;
                        font-weight: 700;
                        margin-bottom: 8px;
                        display: inline-block;
                    }
                }
                .form-group {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;
                    .form-felid {
                        width: 45%;
                    }
                }
            }
        }
        .mat-action-row {
            border: 0;
        }
        
    }
}