.splist {
    .dash-header {
        .list {
            display: flex;
            justify-content: space-between;
            .text {
                font-family: 'Work Sans', sans-serif;
                font-size: 24px;
                font-weight: 600;  
                padding-bottom: 12px;
            }
            border-bottom: 2px solid #DFF2FD;
            .search-input {
                width: 28%;
                position: relative;
                input {
                    border: 1px solid #DDDDDD;
                    border-radius: 4px;
                    height: 36px;
                    display: inline-block;
                    width: 100%;
                }
                mat-icon {
                    position: absolute;
                    top: 7px;
                    left: 7px;
                }
                input[placeholder] {
                    font-size: 14px;
                    font-family: 'Lato', sans-serif;
                    padding-left: 37px;
                }
                
                .ng-invalid.ng-touched {
                    border: 1px solid red;
                }
                
                :host {
                    display: inline-block;
                    width: 100%;
                }
            }
        }
    }
    .listing {
        .btn {
            margin-top: 20px;
            display: flex;
            justify-content: flex-end;
            button {
                    height: 36px;
                    background-color: #10A9F5;
                    color: #FFFAFA;
                    border-radius: 5px;
                    font-family: 'Lato', sans-serif;
                    font-size: 16px;
                    padding: 9px 24px;
                    font-weight: 600;
            } 
            span {
                font-size: 19px;
                padding-right: 9px;
            }         
            button[disabled] {
                cursor: not-allowed;
            }
        }
        .table {
            padding: 19px;
            table {
                .cdk-header-row {
                    .cdk-header-cell {
                        font-size: 15px;
                        font-family: 'Work Sans', sans-serif;
                        text-align: left;
                        padding: 12px;
                    }
                    .action-hed {
                        padding-left: 88px;
                    }
                    border-bottom: 1px solid #E4E7EB;
                }
                .cdk-row  {
                    &:hover {
                        box-shadow: 0px 3px 6px #00000029;
                    }
                    cursor: pointer;
                    font-family: 'Lato', sans-serif;
                    font-size: 13px;
                    border-bottom: 1px solid #E4E7EB;
                    .cdk-cell {
                        padding: 8px;
                        mat-icon {
                            margin-left: 50px;
                            font-size: 20px;
                        }
                    }
                }
            }
            .pagintator {
                display: flex;
                justify-content: center;
                margin-top: 30px;
                .btns {
                }
                .numbers {
                    display: flex;
                    position: relative;
                    .btns{
                        .pervious {
                            position: absolute;
                            left: -25px;
                            top: 10px;
                            cursor: pointer;
                        }
                        .next {
                            position: absolute;
                            right: -25px;
                            top: 10px;
                            cursor: pointer;
                        }
                    }
                    .item {
                        width: 25px;
                        height: 25px;
                        font-family: 'Work Sans', sans-serif;
                        font-size: 13px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        margin: 9px;
                    }
                    .active {
                        background-color: #008FE9;
                        border-radius: 50%;
                        color: #FFFFFF;
                       
                    }
                }
            }
        }
    }
}

table {
    width: 100%;
  }