<div id="login">
  <div class="login-blank">
      <!-- <h1>Let’s Kick Now !</h1>       -->
        <img src="../../assets/forgot.svg">
  </div>
  <div class="login-content">
      <h1>Forgot your password? 
        <span class="line"></span>
      </h1>
      <span class="notes">We will send an email to your email to reset</span>
      <div class="form">
        <div class="form-field">
          <app-label label="Email"></app-label>
          <app-input placeholder="Enter your email" type="text" [form]="forgotForm" name="emailId"></app-input>
          <app-input-error *ngIf="forgotForm.get('emailId').touched && forgotForm.get('emailId').hasError('required')">Email is required</app-input-error>
        </div>
        <app-button label="Submit" [disabled]="forgotForm.invalid" (click)="forgot()"></app-button>
        <span class="backlog">Back to <a routerLink="/login">Login</a></span>
      </div>
  </div>
</div>