<div id="updatepass">
  <div class="login-blank">
    <img src="../../assets/reset.svg">
  </div>
  <div class="login-content">
    <h1>Update Password
      <span class="line"></span>
    </h1>
    <div class="form">
      <div class="form-field">
        <app-label label="New Password"></app-label>
        <app-input placeholder="Enter a new password" type="password" [form]="updateForm" name="password"></app-input>
        <app-input-error *ngIf="updateForm.get('password').touched && updateForm.get('password').hasError('required')">Password is required</app-input-error>
      </div>
      <div class="form-field">
        <app-label label="Confirm New Password"></app-label>
        <app-input placeholder="Confirm your new password" type="password" [form]="updateForm" name="confirmPassword"></app-input>
        <app-input-error *ngIf="updateForm.get('confirmPassword').touched && updateForm.get('confirmPassword').hasError('required')">ConfirmPassword is required</app-input-error>
      </div>
      <app-button label="Submit" (click)="updatePassword()"></app-button>
    </div>
  </div>
</div>