<div id="linkexpired">
  <div class="wrapper">
    <div class="llustrator">
      <img src="../../assets/linkexpillus.svg">
    </div>
    <h1>Sign-in link expired</h1>
    <span class="notes">Hi, there your account login link has expired, because you haven’t used it. User login link expires in every 24 hours and can only be used once. You can create one by clicking on request button too.</span>
    <app-button label="Request Another Link" (click)="requestLink()"></app-button>
    <span class="notes">If this issue continues to persist, <span class="imp">let us know</span></span>
  </div>
</div>